$primary: #ff88bb;
$title: #333;
$subtitle: #999;
$line-color:rgb(245, 243, 243);
$bg: #ccc;
$head-title-color: #fff;
$foot-border-color: #ddd;

body{
  font-family: -apple-system-font,Helvetica Neue,sans-serif;
}
.subButton{
  background: #ff88bb;
  color: #fff;
  height: height(50);
  width: width(50);
}
.headerColor {
  background: $primary;
  .mint-header-title{
    font-size: 16px;
  }
}
.login{
  margin-top:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .mtinp{
    margin-top: 10px;
    border:1px solid #f0eded;
    border-radius: 10px;
    width:height(650rem);
  }
  .loginBtn{
    margin-top:30px;
    width:height(650rem);
    height:54px;
    background: $primary;
    // border-radius: 50%;
  }
}
.loginBtn{
  margin-top:30px;
  width:height(300srem);
  height:40px;
  background: $primary;
  // border-radius: 50%;
}

   
@function height($h){
  @return $h / 72;
};
@function width($w){
  @return $w / 72;
};
 @function fontSize($s){
   @return $s / 12;
 };

// @function 

[data-dpr="1"] *{
  font-size: 1em;
}
[data-dpr="2"] *{
  font-size: 2em;
}
[data-dpr="3"] *{
  font-size: 1.5em;
}